body{
  background-color: blueviolet;
}

.App {
  display: flex;
  justify-content: center;
  
  
  
}

h1 {
  font-size: 40px;
}

hr {
  margin-bottom: 40px;
  opacity: 0.5;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 20px;
  padding: 30px 35px;
  background-color: rgb(255, 255, 255);
  width: 75%;
  max-width: 650px;
  min-height: 760px;
  border-radius:30px;
  position: relative;
}

input , .add-btn {
  padding: 10px; 
  font-size: 18px;
  margin: 5px;
  border-radius: 10px;
  border: solid 0.6px #5e5858;
}

.add-btn {
  width: 100px;
  border: none;
  background-color: blueviolet;
  color: white;
}

input {
  width: 95%;
  max-width: 500px;
}

.add-btn {
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgb(160, 72, 243);
}

.completed-btn , .delete-btn {
  padding: 7px;
  margin: 10px 4px;
  border: none;
  cursor: pointer;
  border-radius: 4px
}

.completed-btn{
  margin-left: 30px;
}

.completed-btn:hover {
  background-color: rgb(163, 255, 205)
}

.delete-btn:hover {
  background-color: rgb(228, 165, 165)
}

.todos-container{
  
  width: ;
}

.taskInput-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos-container{
  width: 90%;
  max-width: 550px;
  margin-top: 10px;
}

.todo-container {
  margin: 5px;
  padding: 5px;
  width: 90%;
}

.todo-container li {
  font-size: 22px;
  color: rgb(45, 46, 46);
  word-wrap: break-word;
  text-wrap: pretty;
  list-style: none;
}

.completed {
  text-decoration: line-through;
  opacity: .7;
}

.madeby {
  opacity: 0.7;
  position: absolute;
  bottom: 15px;
}

::placeholder {
  opacity: 0.7;
}